@{
    ViewData["Title"] = "Início";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo a Caravana</h1>
    <p>Saiba mais sobre a Caravana CloudAndData <a href="https://www.even3.com.br/caravana-cloud-and-data-edicao-recife-2025-603983/ ">Recife</a>.</p>
</div>
